.main-block {
    flex: 1 0 100%;
    position: relative;
    @include flexbox();
    justify-content: center;
    align-items: center;
    overflow: hidden;
    @include anim(0.5s, 0s);
    @include tr(0, 0, 0);

    // .main-block__content
    &__content {
        z-index: 1;
        text-align: center;
    }

    // .main-block__greet
    &__greet {
        display: inherit;
        color: #fff;
        padding-bottom: 10%;
    }

    // .main-block__title
    &__title {
        font-size: 34px;
        line-height: 40px;
        font-weight: 700;
        letter-spacing: 5.4px;
        padding: 0 0 10px 0;
        @media (max-width: 600px) {
            font-size: 25px;
            line-height: 30p;
            letter-spacing: 4.2px;
        }
    }

    // .main-block__subtitle
    &__subtitle {
        visibility: hidden;
        @include animate(fadeIn, 0s, ease, forwards, 3.5s);
        visibility: hidden;
        font-size: 26px;
        font-weight: 400;
        letter-spacing: 4.1px;
        @media (max-width: 600px) {
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 3px;
        }
    }

    // .main-block__btn
    &__btn {
        display: inherit;
        visibility: hidden;
        @include animate(fadeIn, 0s, ease, forwards, 4s);
        position: absolute;
        left: 50%;
        bottom: 40px;
        margin-left: -25px;
        z-index: 1;
        text-align: center;
    }

    &_active {
        @include tr(-300px, 0, 0);
    }

    // .main-block__image
    &__image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        &:after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background-color: rgba(#221e3f, 0.8);
        }
    }
}

@keyframes fadeIn {
    0% {
    }
    100% {
        visibility: visible;
    }
}
