.works {
    padding: 30px 0;

    ul {
        padding-left: 30px;
        list-style-type: disc;
    }
    // .works__container
    &__container {
        margin: 0 auto;
    }

    // .works__title
    &__title {
        // position: relative;
        margin: 0 0 60px 0;
        text-align: center;
    }

    // .works__row
    &__row {
        @include flexbox();
        align-items: center;
        justify-content: center;
        margin: 0 0 50px 0;
    }

    &__row:last-child {
        margin: 0;
    }

    // .works__column
    &__column {
        flex: 1;
        opacity: 0;
    }

    &__column_left {
        @include anim_lin(1.2s, 0s);
        @include tr(-50px, 0, 0);
        margin: 0 30px 0 0;
    }

    &__column_right {
        @include anim_lin(1.6s, 0s);
        @include tr(50px, 0, 0);
    }

    &__column_left_active,
    &__column_right_active {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }

    // .works__img
    &__img {
        display: block;
        // max-height: 350px;
        // position: absolute;
        width: 100%;
        height: 100%;
        // top: 0;
        // left: 0;
    }
}

.item {
    &__link {
        color: #3883ff;
        cursor: pointer;
    }

    &__link:hover {
        color: #2f67cd;
    }

    // .item__link_more
    &__link_more {
        display: inline-block;
        font-size: 14px;
        margin: 0 15px;
        line-height: inherit;
        text-transform: uppercase;
    }

    // .item__link_small
    &__link_small {
        text-transform: initial;
    }

    // .item__title
    &__title {
        color: $main-color;
        text-align: center;
        font-size: 18px;
        line-height: 24px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 3.6px;
        margin: 0 0 18px 0;
    }

    // .item__descr
    &__descr {
        color: $main-color;
        overflow: hidden;
        font-size: 16px;
        line-height: 28px;
        font-weight: normal;
        margin: 0 0 10px 0;
    }

    //item__btn-panel
    &__btn-panel {
        text-align: center;
        margin: 0 0 10px 0;
    }

    &__btn {
        display: inline-block;
        font-size: 14px;
        margin: 0 10px;
        padding: 5px 15px;
        line-height: inherit;
        background: transparent;
        border-radius: 16px;
        color: #fff;
        border: 2px solid #fff;
        @include anim(0.5s, 0s);
    }

    &__btn:hover {
        @include scale(1.2);
    }

    &__cut {
        display: none;
    }
}

// ---------------------- Media queries Works section --------------------------//

@media (max-width: 1500px) {
    .works__row {
        max-width: 1000px;
    }
}

@media (max-width: 1300px) {
    .works__row {
        // margin: 0 0 40px 0;
        max-width: 900px;
    }
}

@media (max-width: 1100px) {
    .works__row {
        max-width: 800px;
    }

    .works__title {
        margin: 0 0 40px 0;
    }

    .item__link_more {
        margin: 5px 0;
    }

    .item__descr {
        margin: 0 0 10px 0;
    }
}

@media (max-width: 968px) {
    .works__row {
        flex-direction: column;
        margin: 0 0 20px 0;
        max-width: 600px;
    }
    .works__title {
        margin: 0 0 30px 0;
    }
    .works__row:nth-child(odd) {
        .works__column:nth-child(1) {
            @include flexorder(2);
        }
        .works__column:nth-child(2) {
            @include flexorder(1);
        }
    }

    .works__column_img {
        margin-bottom: 20px;
        max-width: 80%;
    }

    .works__column_text {
        margin: 0;
    }

    .item__link_more {
        margin: 5px 10px;
    }
}

@media (max-width: 768px) {
    .section-title::before,
    .section-title::after,
    .section-title__icon {
        @include anim_lin(1s, 0s);
    }

    .works__row {
        max-width: 600px;
    }
    .works__column_text {
        margin: 0;
    }
    .works__column_img {
        margin: 20px;
    }

    .works__title {
        margin: 0 0 20px 0;
    }
    .item__title {
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 3px;
    }
    .item__descr {
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 20px;
    }

    .works__column_right,
    .works__column_left {
        transition: none;
        opacity: 1;
        @include tr(0, 0, 0);
    }
}

@media (max-width: 480px) {
    .works__column_img {
        margin: 0 0 10px 0;
        max-width: 100%;
    }

    .item__title {
        margin-bottom: 5px;
    }

    .item__btn:first-child {
        margin-bottom: 10px;
    }
}
