// Mixins
@import "mixins.scss";
// Mixins

//Fonts -----------------
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

//default fonts
$font-family: "Roboto", sans-serif;

//Variables
$main-color: #eee;

$min-width: 320px;

// Reset , default parametrs
@import "startparams.scss";

body {
    background: #221e3f;
}

ul {
    padding-left: 30px;
    list-style-type: disc;
}

img{ 
    width: 100%;
    height: auto;
}

.btn {
    cursor: pointer;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
}

//default width site
.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

//includes header, footer and other sections
// @import "header.scss";
@import 'works.scss';
// @import "footer.scss";

.page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @include flexbox();
    flex-direction: column;
}

.section-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #c4c4c4;
    display: inline-block;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
    position: relative;
    @include anim_lin(1.8s, 0s);

    //lines
    &::after,
    &::before {
        @include anim_lin(1.8s, 0s);
        opacity: 1;
        position: absolute;
        height: 4px;
        width: 70px;
        background: linear-gradient(
            97deg,
            rgba(192, 192, 192, 1) 0%,
            rgba(207, 207, 207, 0.7441351540616247) 19%,
            rgba(0, 212, 255, 1) 100%
        );
    }
    &::before {
        bottom: 7px;
        right: 80px;
        content: "";
        @include tr(-70%, 0, 0);
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }
    &::after {
        content: "";
        @include tr(70%, 0, 0);
        bottom: 7px;
        left: 79px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    //star
    &__icon {
        @include anim_lin(1.8s, 0s);
        display: block;
        margin: 10px auto 0 auto;
        width: 20px;
        height: 20px;
        bottom: 5px;
    }
    //animating on scroll
    &_active {
        .section-title__icon {
            @include rotate(360deg);
        }

        &::after {
            content: "";
            @include tr(0, 0, 0);
            opacity: 1;
        }

        &::before {
            content: "";
            @include tr(0, 0, 0);
            opacity: 1;
        }
    }
}

// .main-screen {
//     flex: 1 0 100%;
//     position: relative;
//     // background image
//     &__bg {
//         position: absolute;
//         width: 100%;
//         height: 100%;
//         top: 0;
//         left: 0;
//     }
// }
