// Mixins
@import "mixins.scss";
// Mixins

//Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

//default fonts
$font-family: "Roboto", sans-serif;

//Variables
$main-color: #eee;

$min-width: 320px;

// Reset , default params
@import "startparams.scss";

body {
    background: #221e3f;
}

img {
    width: 100%;
    height: auto;
}

.ibg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    img {
        display: none;
    }
}
//for parallax effect
.ibg_p {
    background-attachment: fixed;
}

.btn {
    cursor: pointer;
}

.btn__round {
    display: block;
    border: 2px solid #fff;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: transparent;
}

.btn__round_arrow-down {
    z-index: 3;
    img {
        width: 20px;
        height: auto;
        position: relative;
        @include animate(arrow, 2s, linear, infinite, 0s);
    }
}

@keyframes arrow {
    0% {
        top: 10px;
    }
    50% {
        top: 25px;
    }
    100% {
        top: 10px;
    }
}

.btn__round_arrow-up {
    display: none;
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 3;
    @include animate(pulse, 2s, linear, infinite, 0s);
    img {
        transform: rotate(180deg);
        width: 20px;
        height: auto;
        position: relative;
    }
}

@keyframes pulse {
   
    0% {
        box-shadow: 0 0 0 0px rgba(211, 211, 211, 0.5);
    }

    100% {
        box-shadow: 0 0 0 30px rgba(211, 211, 211, 0);
    }
}

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.wrapper_active {
    margin-right: -300px;
}

//default width site
.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @include flexbox();
    flex-direction: column;
}

//includes header, footer and other sections
@import "header.scss";
@import "main-block.scss";
@import "works.scss";
@import "skills.scss";
@import "contacts.scss";

.section-title {
    color: #c4c4c4;
    display: inline-block;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
    position: relative;
    @include anim_lin(1.8s, 0s);

    //lines
    &::after,
    &::before {
        @include anim_lin(1.8s, 0s);
        opacity: 1;
        position: absolute;
        height: 4px;
        width: 70px;
        background: linear-gradient(
            97deg,
            rgba(192, 192, 192, 1) 0%,
            rgba(207, 207, 207, 0.7441351540616247) 19%,
            rgba(0, 212, 255, 1) 100%
        );
    }
    &::before {
        bottom: 7px;
        //80
        right: 65px;
        content: "";
        @include tr(-70%, 0, 0);
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }
    &::after {
        content: "";
        @include tr(70%, 0, 0);
        bottom: 7px;
        //79
        left: 64px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    //star
    &__icon {
        @include anim_lin(1.8s, 0s);
        display: block;
        margin: 10px auto 0 auto;
        width: 20px;
        height: 20px;
        bottom: 5px;
    }
    //animating on scroll
    &_active {
        .section-title__icon {
            @include rotate(360deg);
        }

        &::after,
        &::before {
            content: "";
            opacity: 1;
            @include tr(0, 0, 0);
        }
    }
}

.section-title_long {
    &::before {
        content: "";
        right: 80px;
        @include tr(-70%, 0, 0);
    }
    &::after {
        content: "";
        left: 80px;
        @include tr(70%, 0, 0);
    }
    &_active {
        .section-title__icon {
            @include rotate(360deg);
        }

        &::after,
        &::before {
            content: "";
            opacity: 1;
            @include tr(0, 0, 0);
        }
    }
}

@media (max-width: 1024px) {
    .btn__round_arrow-up {
        right: 30px;
        bottom: 30px
    }
}

@media (max-width: 769px) {
    .btn__round_arrow-up {
        animation: none;
    }
}

@media (max-width: 481px) {
    .btn__round_arrow-up {
        right: 20px;
        bottom: 20px;
    }
}
